In [1]:
2+2

4

In [ ]:
# Calculator - +,-,%....... etc

In [2]:
4*8

32

In [4]:
7%49

7

In [5]:
4^5                                #   ^ - power off

1

In [ ]:
#STRINGS ----

In [7]:
x=[1,2,3]                         # used for strings []
print(x)

[1, 2, 3]

In [ ]:
# special characters to be indicated with backslashs - \.and double quote" or single quotes' could be used.

In [8]:
"my name is ekta"

'my name is ekta'

In [9]:
'my name is ekta'

'my name is ekta'

In [12]:
'my name\s is ekta\s'            # backslashs to create special character.

'my name\\s is ekta\\s'

In [13]:
"my name\s is ekta\s"

'my name\\s is ekta\\s'

In [15]:
"doesn\t"

'doesn\t'

In [18]:
s = 'firstline\nsecondline'
print(s)

firstline
secondline

In [20]:
a = "ekta and \n ekta"
print(a)

ekta and
 ekta

# ## Activity - 01 - create a variable called "pi" and assign the float value of 3.14 and print it.

In [22]:
pi=3.1415
print(pi)

3.1415

In [ ]:
## IF STATEMENTS - elef , else, if....

In [42]:
x = int(input("please enter an integer"))
if x<0:
    x=0
elef("negetaive changes to zero")
    x == 0:
    print('Zero')
elef("negative changes to single")
    x == 1:
    print('Single')
else:
    print("More")

IndentationError: unexpected indent (<ipython-input-42-ae4fb5a82ce7>, line 5)

# # ACTIVITY -02 :Create a list 'mySecondList' with the following elements in it: 'a', 'b', 23, True. Extract out the last element using reverse indexing. Change the element at index 1 to 'bat'. Print out the modified list#

In [64]:
mysecondlist = ['a','b',23,'True']
mysecondlist.reverse()
print(mysecondlist)

print(mysecondlist[3])

mysecondlist[1]='bat'
print(mysecondlist)

['True', 23, 'b', 'a']
a
['True', 'bat', 'b', 'a']

In [ ]:
### RANGE CONCEPT

# ACTIVITY:03
Using a for loop and range() function, print out all the odd numbers between 20-30

In [70]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [79]:
a = ('ekta','presha')
for i in range(len(a)):
    print(i)

0
1

In [82]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [83]:
for ekta in range(5,9):
    print (ekta)

5
6
7
8

In [100]:
a = ('ekta','savita','sneha')
for i in a:
    print (i)
    for i in range(len(a)):
        print(a)

ekta
('ekta', 'savita', 'sneha')
('ekta', 'savita', 'sneha')
('ekta', 'savita', 'sneha')
savita
('ekta', 'savita', 'sneha')
('ekta', 'savita', 'sneha')
('ekta', 'savita', 'sneha')
sneha
('ekta', 'savita', 'sneha')
('ekta', 'savita', 'sneha')
('ekta', 'savita', 'sneha')

In [101]:
x=("ekta","vikas","saket","preesha")  
for i in x:
    print(i," Lenght is ",len(i))

ekta  Lenght is  4
vikas  Lenght is  5
saket  Lenght is  5
preesha  Lenght is  7

In [107]:
for i in range(1,20):
    if i % 2 == 0:
        print(i,"even num")
        continue
    print(i,"odd num")

1 odd num
2 odd num
3 odd num
4 odd num
5 even num
6 odd num
7 odd num
8 odd num
9 odd num
10 even num
11 odd num
12 odd num
13 odd num
14 odd num
15 even num
16 odd num
17 odd num
18 odd num
19 odd num

In [108]:
for num in range(20 ,30):
     if num % 2 == 0:
        print("Found an even number",num)
        continue
     print("Found an odd number",num)

Found an even number 20
Found an odd number 21
Found an even number 22
Found an odd number 23
Found an even number 24
Found an odd number 25
Found an even number 26
Found an odd number 27
Found an even number 28
Found an odd number 29